.mobile {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}


.wide-screen-hero-container {
  min-width: 100%;
  min-height: 100vh;
  background-color: #000000;
  color: white;
}
nav {
  color: white;
  padding: 1%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
  cursor: pointer;
  font-weight: 900;
}
nav ul a {
  color: white;
  text-decoration: none;
}
nav ul a:hover {
  color: white;
}
nav ul li:hover {
  border-bottom: 5px solid white;
}
.me-container {
  color: white;
}
footer {
  display: none;
}
.me-container {
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.social-media {
  padding-right: 4rem;
}

.line {
  width: 2rem;
  height: 0.5rem;
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.social-media a:hover {
  color: white;
}

.line:hover {
  cursor: pointer;
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 3, 255, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}

/* About Container */
.about-container {
  width: 100%;
  display: flex;

  background-color: #000000;
}
.image-container {
  width: 100%;
}
.image-container img {
  width: 70%;
}

.about-me {
  padding-top: 5rem;
  color: white;
  text-align: center;
  margin-right: 15vw;
  width: 50%;
}

.about-me img {
  width: 3rem;
}

.certifications .btn {
  margin-top: 0.5rem;
  background-color: brown;
  color: white;
}

 
